.card {
    width: 15vw;
    margin-top: 4vh;
}

.card:first-child {
    margin-top: 0;
}

.card-id {
    color: grey;
}

p {
    text-wrap: break;
}

.icon-group {
    display: flex;
    flex-wrap: wrap;
    gap:5px;
}

.tags {
    color: grey;
}

[class~="tags"][class~="box"]{
    padding: 0.5vh 0.5vw;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 40vw;
    }
}

@media only screen and (max-width: 425px) {
    .card {
        width: 90vw;
    }
}